/*@media (min-width: 1000px)*/
    body{
        
        background-image : url(https://source.unsplash.com/random/1920x1080/);   
    }

/*@media (min-width: 400px)
    body{
        
        background-image : url(https://source.unsplash.com/random/640x480/); 

    }
}*/

h1{
    text-align: center;
    font-size: 80px;
    color: white;
}
h3{
    float: right;
}
#search{
    position: absolute;
    top: 80%;
    bottom: 20%;
    left: 20%;
    right: 80%;
    border: 2px solid black;
}
.srchbar{
    padding: 5px 10px;
    font-size: 25px;
}
footer{
    position: absolute;
    float: left;
    bottom: 0%;
    left: 1%;
    color: white;
}
